# Dependencies
node_modules/

# Build output
dist/
build/

# Prisma generated client
src/generated/

# Environment variables
.env

# Generated docs
docs/swagger.yaml

# ESLint
.eslintcache

# Test outputs
test-results/
coverage/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Editor and IDE directories
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace